numpy==1.26.4
pillow==12.0.0	
--extra-index-url https://download.pytorch.org/whl/cu121
torch-summary==1.4.5


--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.2
torchvision==0.16.2

fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
transformers==4.36.2
python-multipart==0.0.6
transformers[sentencepiece]
tiktoken
